body{padding:54px 5px 5px;margin:0;background:#fefdf8;text-align:center;}
:link,:visited{text-decoration:none;}
:link:hover,:visited:hover{text-decoration:underline;}
.cleanup{clear:both;}
.hidden{display:none;}

#header{position:relative;height:54px;padding:0;margin:0 auto;width:960px;text-align:left;}
#header .logo{position:absolute;top:-54px;left:-54px;margin:0;padding:0;}
#header .logo a{display:block;background:url(../images/logo.png) top left no-repeat;width:120px;height:108px;}
#header .logo b{display:none;}
#header .motto{padding:0 0 0 72px;margin:0;height:24px;color:#dc8;font:italic bold 13.5pt/15pt "Palatino linotype","URW Palladio L",serif;}

#header h1{position:absolute;top:-54px;left:72px;margin:0;padding:0;font:bold 30pt/37.5pt "Junicode",serif;color:#c8c0a0}

#mainnav{height:30px;font:bold 11pt/19px "Junicode",serif;}
#mainnav ul{display:block;margin:0;padding:0;list-style:none;float:right;}
#mainnav li{display:block;margin:0;padding:0;float:left;}
#mainnav a{display:block;padding:0 5px 0 7px;height:20px;background:url(../images/menu.png) top left;}
#nainnav a:hover{background:url(../images/menu.png) bottom left;}

#body{position:relative;margin:0 auto;padding:0;width:960px;text-align:left;color:black;font:12pt/15pt "Junicode",serif;}
#content{width:720px;float:right;}
#content p{margin:0 0 1ex 0;text-indent:1em;text-align:justify;}
#content ul{margin-top:0;list-style:none;padding:0;}
#content ul li{padding:0 0 0 18px;margin:0;background:url(../images/bullet.png) top left no-repeat;}
#content h1{margin:2ex 0 1ex;font:italic bold 19pt/23pt "Palatino linotype","URW Palladio L",serif;color:#686040;}
#content h2{margin:2ex 0 1ex;font:italic bold 15pt/18pt "Palatino linotype","URW Palladio L",serif;color:#686040;}
#content h3{margin:2ex 0 1ex;font:italic bold 13pt/16pt "Palatino linotype","URW Palladio L",serif;color:#686040;}

#footer{position:relative;margin:0 auto;padding:0 5px 0 235px;width:720px;text-align:left;color:#dc8;font-size:10pt}
#footer :link, #footer :visited{color:#89d;}

#content .firstheading{margin-top:0;}
#feedback{position:absolute;right:0;top:200px;}
#feedback a{display:block;background:url(../images/feedback.png) top right no-repeat;width:30px;height:100px;}
#feedback a:hover{background-position:top left;}
#feedback b{display:none;}

#left-sb{position:absolute;left:0;top:0;width:230px;font:10pt/12pt sans-serif;}
.widget{margin:1ex 0 0;}
.widget h3{background:#dc8;font:bold 10pt/12pt sans-serif;margin:.5ex 0;}
.widget ul,#left-sb ol{margin:0;padding:0;}
.widget li{margin:0;padding:0 0 0 1em;}
.widget ul li{background:url(../images/play.png) left top no-repeat;list-style:none;}

.gray{background:#f0e8c8;color:#c8c0a0;}

form td {vertical-align:top;}

img { border: none; }
.media { text-align:center; }
.link { font-size: 1.5em; font-weight:bold; margin: 1ex 0 .6ex;}
.copy { padding-left: 1em; }
.post { margin:1ex 0; border-bottom:solid #dc8 1px;}
.post .footer { padding-left: 1em; background: #e8e0c0; clear:both; }
.post .date { font-size: .9em; }
